@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Cookie&family=Oswald&family=Raleway:wght@100&display=swap");
body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
}

.header {
  width: 100%;
}


h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 0.25em;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-size: 25px;
  font-weight: 300;
}

.text-sect1 {
  width: 60%;
  margin: 10px;
  white-space: normal;
  float: left;
  vertical-align: top;
}

.section1 {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
  white-space: nowrap;
}

.iguana1 {
  display: inline-block;
  width: 25em;
  height: 15em;
  margin-left: 3.125em;
  vertical-align: top;
}

.section2 {
  background-color: #1E1A13;
  text-align: center;
  padding: 4em;
}

article {
  display: inline-block;
  margin: 1em 6em;
  text-align: center;
  font-weight: 300;
}

i {
  font-size: 3em;
}

.img {
  display: inline-block;
  width: 25em;
  height: 15em;
  vertical-align: middle;
  margin: 0.62em;
}

.centerImg {
  padding: 3.125em;
  margin: 1.25em 3.125em;
}

footer {
  background-color: #1E1A13;
  padding: 1em;
  text-align: center;
}